@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  /* background-image: linear-gradient(90deg,#7d5fff,#7158e2); */
  /* background-color: rgb(166, 228, 247); */
  /* color: #222; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}
.bg{
  background: url('../1st Day/images/Image1.jpg') no-repeat center center/cover;
  position: absolute;
  top:-30px;
  left:-30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px) ; 
  z-index: -1;
  filter: blur(70px);
}
.loading-text{
  font-size: 50px;
  color:red;
}